<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/stylesheets/index.css">
  </head>
  <body>
    <h1>전세계사람들과 집중시간을 겨루세요. </h1>
    <form action="/memberCheck" method="post">
      <input type="text" name="name" value="">
      <input type="password" name="pwd" value="">
      <input type="submit" name="login" value="login">
    </form>
    <a href="/signup">회원가입</a>
  </body>
</html>
