<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/timer" method="post">
      아이디: <input type="text" name="name" value=""><br />
      비밀번호: <input type="text" name="pwd" value=""><br />
      이메일: <input type="text" name="email" value=""><br />
      <input type="submit">
    </form>


  </body>
</html>
