<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Main Page</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/timer.css">
  </head>
  <body>
    <div class="wrap">
      <h1>메인 페이지입니다.</h1>
      <div>
        <%=userName%>님 환영합니다.


      </div>
      <div class="timer">
        <div class="timeBox">
          <input id="timeHour" type="number" name="hour" value="0"/>H
          <input id="timeMin" type="number" name="min" value="0"/>M
          <input id="timeSec" type="number" name="sec" value="0"/>S
        </div>

        <div class="buttonBox" id="startButton">
          START
        </div>
        <div class="buttonBox" id="pauseButton">
          PAUSE
        </div>
        <div class="buttonBox" id="stopButton">
          STOP
        </div>
        <div id="accumTime"></div>
    </div>
  </div>
    <script>

    $(document).on('click', '#startButton', function(){
      var new_hour = parseInt(document.getElementById("timeHour").value);
      var new_min = parseInt(document.getElementById("timeMin").value);
      var new_sec = parseInt(document.getElementById("timeSec").value);

      var iSecond = new_hour*3600 + new_min * 60 + new_sec;
      var accumTime = 0;

      runningTimer = setInterval(function(){
        if(!isTimeOver()){
          new_hour = parseInt(iSecond/3600);
          new_min = parseInt((iSecond%3600)/60);
          new_sec = parseInt((iSecond%3600)%60);
          document.getElementById('timeHour').value = new_hour;
          document.getElementById('timeMin').value = new_min;
          document.getElementById('timeSec').value = new_sec;

          new_accumHour = parseInt(accumTime/3600);
          new_accumMin = parseInt((accumTime%3600)/60);
          new_accumSec = parseInt((accumTime%3600)%60);
          document.querySelector('#accumTime').innerText = new_accumHour+'hour'+new_accumMin+'minute'+new_accumSec+'second';
          iSecond--;
          accumTime++;
        } else {
          //url에서 user name 가져오기
          var url = window.location.href.split("/");
          var urlLength = url.length;
          var userName = url[urlLength-1].split("=")[1];

          //누적시간 db에 업데이트
          $.ajax({

            type:"PUT",
            url:"/admin/update/",
            data:{
              name:userName,
              time:accumTime
            },
            dataType:"json",
          }).done(function(response){
            console.log(response);
          });

          clearInterval(runningTimer);
          alert("time is up");
        }
    },1000);

    function isTimeOver() {
      if(iSecond < 0) return true;
    }
    });

    $(document).on('click','#pauseButton', function(){
      clearInterval(runningTimer);
      document.getElementById('startButton').innerHTML = 'RESUME';
    });

    $(document).on('click','#stopButton', function(){
      clearInterval(runningTimer);
      document.getElementById('timeHour').value = 0;
      document.getElementById('timeMin').value = 0;
      document.getElementById('timeSec').value = 0;

    });

    </script>
  </body>
</html>
